html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
  color: white;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topMatter {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.siteContainer {
  width: 960px;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 1rem;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
}

.logoAndTitle {
  display: flex;
  align-items: center;
}

.logoAndTitle img {
  height: 1.5rem;
  width: auto;
  margin-left: 2rem;
  margin-right: 1rem;
}

header p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

header nav a {
  margin-right: 2rem;
}

.dontJustLookSee {
  margin-top: 10rem;
  width: inherit;
  display: flex;
  justify-content: flex-end;
}

.dontJustLookSee p {
  margin-right: -2rem;
  background-color: white;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  line-height: 1.2;
}

.mainContent {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
}

.firstRowOfContent {
  display: flex;
  justify-content: center;
  height: 8rem;
  width: inherit;
}

.topRowDiv {
  margin-right: 3rem;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.topRowDivLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topRowDivLabel p {
  margin-top: 0.4rem;
  color: black;
}

.topRowDiv img {
  height: auto;
}

.paper-icon {
  width: 3.5rem;
}

.ruler-icon {
  width: 5rem;
}

.truck-icon {
  width: 5rem;
}

.lastRowOfContent {

}

footer {
  margin-top: 5rem;
  width: 960px;
}

.footerDiv {
  margin-left: -2rem;
  margin-right: -2rem;
  background-color: azure;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer img {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 4rem;
  margin-right: 1rem;
  height: 1.5rem;
  width: auto;
}

footer p {
  color: black;
}
